<!DOCTYPE html>
<html><head>

	<title>Django-Caffeine test app</title>

	<script type="text/javascript" src="{{ STATIC_URL }}testapp-js.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}testapp-css.css" />

	<script type="text/javascript" src="{{ STATIC_URL }}testapp-coffee.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}testapp-scss.css" />

</head><body>

	<h1>Django-Caffeine testing app!</h1>

	<div id="test-div-js">This div gets manipulated by JS</div>
	<div id="test-div-css">This div gets manipulated by CSS</div>
	<div id="test-div-coffee">This div gets manipulated by COFFEE</div>
	<div id="test-div-scss">This div gets manipulated by SCSS</div>

</body></html>
